.b-button {
  display: flex;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  border-radius: 20px;
  padding: 8px 28px;
  border:none;
  cursor: pointer;
  transition: background-color 300ms;
  &[disabled] {
    background-color: rgba(0,0,0,0.3);
  }
}
