.b-root .b-title {
  display: block;
  padding:10px;
  border: solid 2px #000;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  line-height: 1em;
  position: relative;
  width: fit-content;
  user-select: none;
  cursor: pointer;
}
