<div class="b-heading-group">
  <div  class="b-panel-heading-container">
    <mat-icon class="b-back" (click)="backButtonClick.emit()">chevron_left</mat-icon>
    <h1 *ngIf="!post.postId" class="b-panel-heading">Create Post</h1>
    <h1 *ngIf="post.postId"class="b-panel-heading">Edit Post</h1>
  </div>


</div>

<form [formGroup]="form" class="b-form">
  <div class="b-field">
    <label class="b-label">Title</label>
    <input type="text" formControlName="title" autocomplete="off" class="b-input">
  </div>

  <div class="b-field">
    <label class="b-label">
      Abstract
    </label>
    <ckeditor formControlName="abstract" [config]="ckEditorConfig"></ckeditor>
  </div>

  <div class="b-field">
    <label class="b-label">
      Body
    </label>
    <ckeditor formControlName="body" [config]="ckEditorConfig"></ckeditor>
  </div>

</form>

<div class="b-actions">
  <button class="b-button" (click)="save.emit(form.value)" [disabled]="!form.valid || form.pristine">
    Save
  </button>
</div>
